
.trip-info-card {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.trip-info-card-row {
    flex: 1 1 100%;
}

.trip-info-card-estimated-time {
    color: red;
    text-decoration: none;
    margin-left: 5px;
}

.trip-info-card-on-time {
    color: black;
    text-decoration: none;
}

.trip-info-card-delayed-time {
    color: red;
    text-decoration: line-through;
}
