@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #233843
}

h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
    color: #233843;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #233843;
}

p {
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    border-radius: 8px;
    margin: 0;
}

.bordered-card {
    border: 1px solid #233843;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: #f6f6f6;
}

.card-row {
    flex: 1 1 100%;
}

.icons-attribute-link {
    display: inline-block;
    margin: 20px 20px 20px 20px;
    color: #233843;
    text-underline-offset: 6px;
}

ul {
    padding-left: 20px;
}

/*ul li {*/
/*    margin-left: 0px;*/
/*}*/

